body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(216, 215, 215);
}

.box-central {
  width: 45%;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0.5, 0.5, 0.5, 0.5);
}

.dados-centralizados {
  text-align: center;
}

p,
ul,
li {
  text-align: justify;
}

.box-habilidades-competencias {
  display: flex;
  justify-content: space-between;
}

.ul-box-central {
  width: 5%;
  margin: 0 auto;
  text-align: center;
}

.ul-box-esquerda,
.ul-box-direita {
  width: 45%;
}
